<mat-card>

    <mat-card-title class="form-title"> Création de votre compte Discord </mat-card-title>


    <mat-card> 
    <!-- Prénom et nom -->
        <mat-card-subtitle> Informations personnelles </mat-card-subtitle>
            <div class="form-row">
                <mat-form-field appearance="fill" class="form-row-first-name">
                    <mat-label> Prénom </mat-label>
                    <input type="text" matInput> 
                </mat-form-field>
            
            
                <mat-form-field appearance="fill">
                    <mat-label> Nom </mat-label>
                    <input type="text" matInput> 
                </mat-form-field>
            </div>

    </mat-card>


    <!-- Email -->
    <mat-card>

        <mat-card-subtitle> Email </mat-card-subtitle>


        <mat-form-field appearance="fill">
            <mat-label> Email </mat-label>
            <input type="text" matInput> 
        </mat-form-field>
    </mat-card>




    <!-- Username et mot de passe -->
     <mat-card>

        <mat-card-subtitle> Paramètres de connexion </mat-card-subtitle>


        
     </mat-card>




     <!-- Image de profil -->
      <mat-card>

        <mat-card-subtitle> Image de profil </mat-card-subtitle>


        
      </mat-card>



    
    <!-- Bouton d'envoi-->
    <mat-card-actions>
        <button mat-flat-button (click)="onSubmitForm()"> Enregistrer </button>
    </mat-card-actions>







</mat-card>
