<h2 mat-dialog-title>Rejoindre {{ data.groupName }}</h2>
<mat-dialog-content>
  <p>Ce groupe est restreint. Veuillez entrer le mot de passe :</p>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Mot de passe</mat-label>
    <input matInput [type]="'password'" [(ngModel)]="password">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-flat-button color="primary" (click)="onConfirm()">Valider</button>
</mat-dialog-actions>
