<!-- Titre de la boîte de dialogue-->
<h2 mat-dialog-title class="title">Rejoindre {{ data.groupName }}</h2>

<!-- Message pour l'utilisateur et champ pour y répondre-->
<mat-dialog-content>

    <!-- Message d'information pour l'utilisateur-->
    <p class="subtitle">Ce groupe est restreint. Veuillez entrer le mot de passe :</p>

    <!-- Formulaire pour entrer le mot de passe-->
    <mat-form-field appearance="fill">

        <mat-label>Mot de passe</mat-label>
        <input matInput [type]="'password'" [(ngModel)]="password">

    </mat-form-field>

</mat-dialog-content>


<!-- Bouton pour annuler ou confirmer le mot de passe -->
<mat-dialog-actions align="end">

    <button mat-button (click)="onCancel()">Annuler</button>
    <button mat-flat-button color="primary" (click)="onConfirm()">Valider</button>

</mat-dialog-actions>
