// Style à appliquer sur le titre de la page
.title{
    color: #7289da;
    display: flex;
    justify-content: center; 
    text-align: center;
    font-size: 1.5vw;
}

// Style à appliquer sur le sous-titre
.subtitle{
    color: #ffc1e3;
    font-size: 1.1vw
}

// Style à appliquer sur le mat-form-field
mat-form-field{
    width: 100%;
}