// Style à appliquer sur le titre de la page
.title{
    color: #7289da;
    display: flex;
    justify-content: center; 
    text-align: center;
    font-size: 1.5vw;
}

// Style à appliquer sur le sous-titre
.subtitle{
    color: #ffc1e3;
    font-size: 1.1vw
}

// Style à appliquer sur le mat-form-field
mat-form-field{
    width: 100%;
}

// Style à appliquer sur les boutons
button{
    background-color: #7289da !important;
    color: white !important;
    border-radius: 20px;
    padding: 0.8rem 1.5rem; 
    font-size: 1vw; 
}

@media(max-width : 1400px){

    // Gestion de la taille des titres et des sous-titres
    .title, .subtitle {
        font-size: 1.5vw;
    }
}

@media(max-width : 1000px){

    // Gestion de la taille des titres et des sous-titres
    .title, .subtitle {
        font-size: 2vw;
    }
}