// Style pour le titre de la page
.title{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
}

// Style pour le container des mat-card contenant les possiblités
.mat-card-container{
    display: flex;
    justify-content: space-between;
    
}

// Style appliqué sur les mat-card
mat-card{
    background-color: rgb(61, 54, 68);
    flex: 1;
    height: 80vh;
}

// Style pour gérer le texte sur les mat-card
.white-color{
    color: white;
    margin-left: 1%;
    font-size: 5vh;
    display: flex;
    justify-content: center;
}