<h1 class="title">
    Mes groupes de discussion
</h1>

<div class="mat-card-container">
    <mat-card>
        <mat-card-content class="white-color"> 
            Mes groupes de discussion
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content class="white-color"> 
            Créer un groupe de discussion
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content class="white-color"> 
            Rejoindre un groupe de discussion
        </mat-card-content>
    </mat-card>

</div>
