// Style pour le titre de la page
.title{
    color: #7289da;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center; 
}




// Style pour le container des mat-card contenant les possiblités
.mat-card-container{
    display: flex;
    justify-content: space-between;
    
}









// Style appliqué sur les mat-card
mat-card{
    flex: 1;
    height: 80vh;
}

// Couleur de la 1ère mat card.
.card1{
    background-color: rgba(139, 64, 64, 0.726);
}

// Couleur de la 2ème mat card
.card2{
    background-color: rgba(64, 118, 139, 0.726);
}

// Couleur de la 3ème mat card
.card3{
    background-color: rgba(77, 158, 57, 0.726);
}







// Style pour gérer le texte sur les mat-card
.content{
    color: white;
    margin-left: 1%;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-bottom: 3vh;
}







// Style pour placer les images au même endroit
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

// Style pour gérer l'affichage des images
.image{
    width: 100%;
    max-width: 60vh;
    height: auto;
    max-height: 60vh;

}






// Style pour positionner les boutons
.bouton{
    margin-top: auto;
    min-width: 30vh;
    min-height: 5vh;
    
}