// Style pour le titre de la page
.title{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
}

// Style pour les mat-card contenant les possiblités
.mat-card-container{
    display: flex;
    justify-content: space-between;
}
// Style pour afficher le texte en blanc
.white-color{
    color: white;
    margin-left: 1%;
}