.title{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
}

.white-color{
    color: white;
    margin-left: 1%;
}