// Style pour le titre de la page
.title{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
}

// Style pour le container des mat-card contenant les possiblités
.mat-card-container{
    display: flex;
    justify-content: space-between;
    
}

// Style appliqué sur les mat-card
mat-card{
    background-color: rgb(61, 54, 68);
    flex: 1;
    height: 80vh;
}

// Style pour gérer le texte sur les mat-card
.content{
    color: white;
    margin-left: 1%;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Style pour gérer l'affichage des images
.image{
    width: 100%;
    max-width: 60vh;
    height: auto;
    max-height: 60vh;
    margin-top: 4vh;
}