<!-- Titre de la page-->
<h1 class="title">
    Groupes de discussion
</h1>

<!-- Div contenant toutes les possibilités-->
<div class="mat-card-container">

    
    <!-- 1er choix : Mes groupes -->
    <mat-card class="card1">
        <mat-card-content class="content"> 
            Mes groupes
            <div class="image-container">
                <img src="assets/mes-groupes.jpg" alt="mes groupes" class="image">
            </div>
            <a routerLink="/group-message/my-group"> <button mat-flat-button class="button"> Mes groupes</button> </a>
        </mat-card-content>
        

    </mat-card>


    <!-- 2eme choix : Créer un groupe-->
    <mat-card class="card2">
        <mat-card-content class="content"> 
            Créer un groupe
            <div class="image-container">
                <img src="assets/creer-un-groupe.jpg" alt="Créer un groupe" class="image">
            </div>
            <a routerLink="/group-message/create-group"> <button mat-flat-button class="button"> Créer un groupe </button> </a>
        </mat-card-content>
    </mat-card>


    <!--  3eme choix : Rejoindre un groupe-->
    <mat-card class="card3">
        <mat-card-content class="content"> 
            Rejoindre un groupe
            <div class="image-container">
                <img src="assets/rejoindre-un-groupe.jpg" alt="Rejoindre un groupe" class="image">
            </div>
            <button mat-flat-button class="button" (click)="onJoinAGroup()"> Rejoindre un groupe</button>
        </mat-card-content>
    </mat-card>

</div>
