// Style pour la carte générale et les champs.
mat-form-field, mat-card{
    background-color: rgb(74,35,90);
}

// Style pour le titre de la page
.form-title{
    color: #7289da;
    text-align: center;
    font-family: "Poppins";
    font-size: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
 
}

// Style pour les sous-titres
mat-card-subtitle{
    color: #7289da;
    font-family: "Poppins";
    margin-left: 1%;
    margin-top: 1vh;
}

// Taille des mat-form-field
mat-form-field{
    width: 25%;
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
















// Style pour les div contenant plusieurs champs
.form-row{
    display: flex;
    
}

// style pour ajouter une marge 
.form-row-margin{
    margin-right: 1%;
}























// Style pour les messages d'erreurs.
.error-text{
    color: red;
    font-size: 2vh;
    margin-left: 1%;
}

// Style pour gérer l'espace pour le message d'erreur de strongValidator
.password-error{
    margin-bottom: 3.5vh;
}




// Affichage de la preview de l'image
.image-preview {
    max-width: 100%;
    max-height: 20vh;
    border-radius: 1vh;
    margin-bottom: 1vh;
    margin-left: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd; 
}








// Style pour les petits écrans
@media (max-width: 1000px) {
    // On déplace tous les champs de façon vertical
    .form-row{
        flex-direction: column;
    }

    // On agrandit les mat-form-field
    mat-form-field{
        width: 50%;
    }

    // On retire l'espace pour password error
    .password-error{
        margin-bottom: 0vh;
    }
}
