// Style pour la carte générale et les champs.
mat-form-field, mat-card{
    background-color: rgb(74,35,90);
}

// Style pour le titre de la page
.form-title{
    color: #7289da;
    text-align: center;
    font-family: "Poppins";
    font-size: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
 
}

// Style pour les sous-titres
mat-card-subtitle{
    color: #7289da;
    font-family: "Poppins";
    margin-left: 1%;
}

// Taille des mat-form-field
mat-form-field{
    width: 30%;
    margin-left: 1%;
}
















// Style pour les div contenant plusieurs champs
.form-row{
    display: flex;
    
}

// style pour ajouter une marge 
.form-row-margin{
    margin-right: 1%;
}

























// Style pour les messages d'erreurs.
.error-text{
    color: red;
    font-size: 20px;
    margin-left: 1%;
    margin-bottom: 1%;
}