// Style pour la carte générale et les champs.
mat-form-field, mat-card{
    background-color: rgb(74,35,90);
}

// Style pour le titre de la page
.form-title{
    color: #7289da;
    text-align: center;
    font-family: "Poppins";
    font-size: 5vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
 
}

// Style pour les sous-titres
mat-card-subtitle{
    color: #7289da;
    font-family: "Poppins";
    margin-left: 1%;
    margin-top: 1vh;
}

// Taille des mat-form-field
mat-form-field{
    width: 40%;
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

// On retire les bordures des mat-card situés dans la mat-card principale
mat-card mat-card {
    box-shadow: none;
    border: none;
}










// Style à appliquer sur la mat-card globale
.global-container{
    margin: auto;
    margin-top: 3vh;
    max-width: 160vh;
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 0 2vh 3vh rgba(0, 0, 0, 0.2);

}





// Style pour gérer la mise en colonne des champs d'un côté et l'image de l'autre
.card-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// Style pour que les champs occupent 80% de l'espace
.form-fields {
    flex: 0 0 80%;
}
  
// Style pour gérer la div contenant l'image
.image-container {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}



















// Style pour les div contenant plusieurs champs
.form-row{
    display: flex;
    
}

// style pour ajouter une marge 
.form-row-margin{
    margin-right: 1%;
}























// Style pour les messages d'erreurs.
.error-text{
    color: red;
    font-size: 2vh;
    margin-left: 1%;
}

// Style pour gérer l'espace pour le message d'erreur de strongValidator
.password-error{
    margin-bottom: 2vh;
}




// Affichage de la preview de l'image
.image-preview {
    max-width: 100%;
    max-height: 20vh;
    border-radius: 1vh;
    margin-bottom: 1vh;
    margin-left: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd; 
}










// Style sur la mat-card-actions contenant le bouton pour le centrer.
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}













// Style lorsque le bouton est désactivé
button[mat-flat-button][disabled] {
    background-color: #bfa6d2; 
    color: white;
    opacity: 0.1;
    cursor: not-allowed;
}

// Style lorsque le bouton est activé
button[mat-flat-button] {
    background-color: #9b59b6;
    color: white;
    font-weight: bold;
    width: 30vw;
    padding: 1vh;
    transition: background-color 0.3s ease;
}

// Style au passage de la souris sur le bouton activé
button[mat-flat-button]:hover {
    cursor: pointer;
    background-color: #8e44ad;
}










// Style pour les petits écrans
@media (max-width: 1000px) {
    // On déplace tous les champs de façon vertical
    .form-row{
        flex-direction: column;
    }

    // On agrandit les mat-form-field (on met le margin bottom pour l'erreur du strongPasswordValidator).
    mat-form-field{
        width: 50%;
        margin-bottom: 2.3vh;
    }

    // On retire l'espace pour password error
    .password-error{
        margin-bottom: 0vh;
    }
}
