<mat-card [formGroup]="registerForm">
    <!-- Titre de la page -->
    <mat-card-title class="form-title"> {{titlePage}} </mat-card-title>


    <mat-card formGroupName="personalInfo"> 
    <!-- Prénom et nom -->
        <mat-card-subtitle> Informations personnelles </mat-card-subtitle>
            <div class="form-row">
                <!-- Champ pour le prénom -->
                <mat-form-field appearance="fill" class="form-row-margin">
                    <mat-label> Prénom </mat-label>
                    <input type="text" matInput formControlName="firstName"> 
                    <mat-error> Ce champ est requis </mat-error> 
                </mat-form-field>
            
                <!-- Champ pour le nom -->
                <mat-form-field appearance="fill">
                    <mat-label> Nom </mat-label>
                    <input type="text" matInput formControlName="lastName"> 
                    <mat-error> Ce champ est requis </mat-error>
                </mat-form-field>
            </div>

    </mat-card>


    <!-- Email -->
    <mat-card [formGroup]="emailForm">
        <mat-card-subtitle> Email </mat-card-subtitle>
        <div class="form-row">
            <!-- Champ pour l'email -->
            <mat-form-field appearance="fill" class="form-row-margin" (click)="onHideEmailErrorMessage()">
                <mat-label> Email </mat-label>
                <input type="text" matInput formControlName="email"> 
                <mat-error> {{ getFormControlErrorText(email) }} </mat-error>
                
            </mat-form-field>
            
            <!-- Champ pour confirmer l'email -->
            <mat-form-field appearance="fill">
                <mat-label> Confirmer l'email </mat-label>
                <input type="text" matInput formControlName="confirmEmail"> 
                <mat-error> {{ getFormControlErrorText(confirmEmail) }} </mat-error>
            </mat-form-field>
        </div>

        <!-- Message pour afficher que l'email est déjà utilise -->
        <!-- Remarque : la commande .touched et form.hasError est plus efficace -->
        <small *ngIf="errorFormEmail$ |async" class="error-text"> Cet email est déjà utilisé</small>
        
        <!-- On affiche que les emails ne correspondent pas-->
        <!-- Remarque : la commande .touched et form.hasError est plus efficace -->
        <small *ngIf="showEmailError$ | async" class="error-text"> Les emails ne correspondent pas </small>

    </mat-card>




    <!-- Username et mot de passe -->
     <mat-card [formGroup]="loginForm">

        <mat-card-subtitle> Paramètres de connexion </mat-card-subtitle>
            <!-- Champ pour l'username -->
            <mat-form-field appearance="fill" class="form-row-margin" (click)="onHideUsernameErrorMessage()">
                <mat-label> Username </mat-label>
                <input type="text" matInput formControlName="username" > 
                <mat-error> {{ getFormControlErrorText(username) }} </mat-error>
                
            </mat-form-field>

            <!-- Message d'erreur : l'username est déjà utilisé -->
            <small *ngIf="errorFormUsername$ |async" class="error-text"> Cet username est déjà utilisé</small>
            

            <div class="form-row password-error">
                <!-- Champ pour le mot de passe -->
                <mat-form-field appearance="fill" class="form-row-margin">
                    <mat-label> Mot de passe </mat-label>
                    <input [type]="(hidePassword$ | async) ? 'password' : 'text'" matInput formControlName="password"> 
                    <mat-error> {{ getFormControlErrorText(password) }} </mat-error>

                    <!-- Bouton "oeil" pour afficher ou masquer le mot de passe-->
                    <button mat-icon-button matSuffix type="button" (click)="onTogglePasswordVisibility()">
                    <mat-icon> {{ (hidePassword$ | async) ? 'visibility_off' : 'visibility' }} </mat-icon>
                    </button>
                    
                </mat-form-field>
            
                <!-- Champ pour confirmer le mot de passe-->
                <mat-form-field appearance="fill">
                    <mat-label> Confirmer le mot de passe </mat-label>
                    <input [type]="(hidePassword$ | async) ? 'password' : 'text'" matInput formControlName="confirmPassword"> 
                    <mat-error> {{ getFormControlErrorText(confirmPassword) }} </mat-error>

                    <!-- Bouton "oeil" pour afficher ou masquer le mot de passe-->
                    <button mat-icon-button matSuffix type="button" (click)="onTogglePasswordVisibility()">
                    <mat-icon> {{ (hidePassword$ | async) ? 'visibility_off' : 'visibility' }} </mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <!-- Remarque : la commande .touched et form.hasError est plus efficace -->
            <small *ngIf="showPasswordError$ | async" class="error-text"> Les mots de passe ne correspondent pas </small> 
     </mat-card>




     <!-- Image de profil -->
    <mat-card>

        <mat-card-subtitle> URL de l'image de profil </mat-card-subtitle>

            <mat-form-field appearance="fill">
                <mat-label> Image </mat-label>
                <input type="text" matInput formControlName="image"> 
                <mat-error> Ce champ est requis </mat-error>
            </mat-form-field>
    </mat-card>


    <!-- On affiche l'image de profil sur l'écran de création de compte -->
    <div *ngIf="showImage$ | async" > 
        <img [(src)]="image.value" alt="image de profil" class="image-preview">
    </div>


    

    
    <!-- Bouton d'envoi-->
    <mat-card-actions *ngIf="loadingInverse$ |async">
        <button mat-flat-button (click)="onSubmitForm()" [disabled]="registerForm.invalid"> Enregistrer </button>
    </mat-card-actions>

    <mat-spinner *ngIf="loading$ |async"></mat-spinner>








</mat-card>

