// Styles pour le titre de la page
.title{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
}




html, body{
    height: 100%;
}

// Style pour l'encart des discussions
.discussion{
    overflow-y: auto;
    height: 65%;
    margin-left: 1%;
    margin-right: 1%;
    scroll-behavior: smooth;
}




// Style à appliquer lorsque le message de chat vide apparaît
.empty-chat{
    margin-top: 10%;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
}






// Style pour le bouton pour charger plus de messages.
.button-previous-post{
    display: flex;
    justify-content: center;
}

// Style pour l'image de profil
.avatar{
    width: 5%;
}

// Style pour la mat-card de chaque post
.mat-card-post{
    width: 90%;
    margin-left: 1%;
    margin-bottom: 1%;
    font-size: 150%;
}

// Style pour le menu déroulant
.avatar-username-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1%;
}

// Style pour placer l'avatar, l'username et le menu sur la même ligne
.avatar-username{
    display: flex;
    align-items: center;
}

// Style pour gérer l'image dans le post
.post-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image{
    max-width: 20vh;
    max-height: 20vh;
    width: auto;
    height: auto;
}

// Style pour afficher la date du post.
.timestamp{
    font-size: 0.7em;
    margin-top: 1%;
    text-align: right;
    margin-right: 1%;
}











// Style pour gérer la prévisualition de l'image dans le post à envoyer
.post-image-preview{
    max-width: 20vh;
    max-height: 20vh;
    width: auto;
    height: auto;
}

.mat-card-image-preview{
    background-color: rgb(114, 83, 172);
    bottom: 8vh; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

// Style pour gérer la position du logo d'opacité
.opacity-icon{
    position: absolute;
    right: 2vh;
    cursor: pointer;
}





// Style à appliquer lorsque l'utilisateur veut modifier un post.
.modify-post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.go-back-modify-post{
    margin-right: 20vh;
}

.modify-post{
    color: white;
    font-size: 40px;
}
















// Style pour afficher l'émote des émojis
.emoji-list{
    position: fixed; 
    overflow: auto; 
    background-color: white; 
    max-width: 30em; 
    max-height: 30em; 
    top: calc(24em); // Ajuste selon la hauteur de l'icône
    right: calc(6em); // Ajuste pour la position
}





// Style pour la mat-card d'envoi d'un message
.send-message{
    height: 15%;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}

// Style pour le bouton d'envoi d'un message
.send-message-icon{
    cursor: pointer;
}

// Style pour gérer la taille du text-area pour l'envoi d'un message
.send-message textarea {
    resize: none; 
    min-height: 5em; 

}