<h1 class="title">
    Discussion avec {{otherUser.username}}
</h1>

<div class="discussion" #chatContainer>
    <!-- Affichage en cas de chargement -->
    <mat-spinner *ngIf="(loading$ | async)"> </mat-spinner>
    
    <!-- Affichage en cas chat vide  et pas de chargement -->
    <div *ngIf="(isChatEmpty$ | async) && !(loading$ | async)" class="empty-chat">
        <p> Vous n'avez pas encore échangé de messages avec {{otherUser.username}}. </p>
    </div>

    <!-- Affichage en cas chat non vide, pas de chargement et, si on ne modifie pas un message-->
    <div *ngIf="!(isChatEmpty$ | async) && !(loading$ | async) && (editMessage$ | async) === null">
        <!-- Bouton pour charger plus de messages -->
        <mat-card-actions class="button-previous-post-container">
            <button mat-flat-button (click)="onLoadMoreMessages()" [disabled]="(loading$ | async)" class="button-previous-post"> Charger les messages précédents </button>
        </mat-card-actions>

        <div class="mat-card-post-container">
            <!-- Affichage des messages dans un chat à l'aide de mat-card -->
            <mat-card *ngFor="let post of (chat$ | async)" class="mat-card-post" [ngStyle]="{'background-color': getPostCardColor(post.currentUserId)}">
                <div class="avatar-username-menu"> 
                    <div class="avatar-username">
                        <img [src]="getProfileImage(post)" (error)="setImageError(post)" alt="Avatar de {{post.username}}" class="avatar">
                        <mat-card-header> {{post.username}} </mat-card-header>
                    </div>

                    <!-- Menu déroulant pour modifier ou supprimer un message -->
                    <mat-card-actions *ngIf="post.currentUserId === currentUser.id">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon> more_vert </mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onEditMessage(post)"> Modifier </button>
                            <button mat-menu-item (click)="onDeleteMessage(post)"> Supprimer </button>
                        </mat-menu>
                    </mat-card-actions>
                </div>
                
                <!-- Affichage du message -->
                <mat-card-content> {{post.content}} </mat-card-content>

                <!-- Affichage de l'image -->
                <div class="post-image-container">
                    <img *ngIf="post.imageInChat" [src]="post.imageInChat" alt="image du post" class="post-image">
                </div>

                <!-- Affichage de la date du message -->            
                <mat-card-footer class="timestamp"> {{post.timestamp | timeAgo }} </mat-card-footer>
                
                
            </mat-card>
        </div>

        
    </div>

    <!-- Affichage en cas de chat non vide, pas de chargement et, si l'on modifie un message-->
    <div *ngIf="!(loading$ | async) && !(isChatEmpty$ | async) && (editMessage$ | async)  as editMessage">

        <div class="modify-post-header">
            <p class="modify-post"> Vous modifiez le message suivant : </p>

            <!-- On affiche un bouton pour revenir en arrière -->
            <mat-card-actions class="go-back-modify-post">
                <button mat-flat-button (click)="onNotModify()" [disabled]="(loading$ | async)" > Revenir en arrière </button>
            </mat-card-actions>
        </div>

        <div *ngIf="editMessage !==null">
            <!-- On affiche le post que l'on modifie -->
            <mat-card class="mat-card-post" [ngStyle]="{'background-color': getPostCardColor(editMessage.currentUserId)}">

                <!-- Affichage de l'en-tête du post : nom de l'utilisateur, photo etc... -->
                <div class="avatar-username-menu"> 
                    <div class="avatar-username">
                        <img [src]="getProfileImage(editMessage)" (error)="setImageError(editMessage)" alt="Avatar de {{editMessage.username}}" class="avatar">
                        <mat-card-header> {{editMessage.username}} </mat-card-header>
                    </div>

                </div>
                
                <!-- Affichage du contenu à modifier-->
                <mat-card-content> {{editMessage.content}} </mat-card-content>

                <!-- Affichage de l'image du message à modifier -->
                <div class="post-image-container">
                    <img *ngIf="editMessage.imageInChat" [src]="editMessage.imageInChat" alt="image du post" class="post-image">
                </div>

                <!-- Affichage du timestamp du message à modifier -->
                <mat-card-footer class="timestamp"> {{editMessage.timestamp | timeAgo }} </mat-card-footer>
                
                
            </mat-card>
        </div>

        

    </div>

    
    
</div>


<!-- Apercu de l'image que l'on souhaite envoyer. -->
<div class="mat-card-image-preview-container">
    <mat-card *ngIf="(imageToSendUrl$ |async)" class="mat-card-image-preview" [ngStyle]="{'opacity': (opacityPreview$ | async)}">
        <p> Prévisualisation de l'image à envoyer : </p>
        <img [src]="(imageToSendUrl$ |async)" alt="Aperçu de l'image" class="post-image-preview">
        <mat-icon (click)="onSetOpacity()" class="opacity-icon"> opacity </mat-icon>
    </mat-card>
</div>

<!-- Barre d'envoi de messages -->
<mat-form-field appearance="fill" class="send-message">
    <mat-label> Mon message </mat-label>
    <textarea matInput placeholder="Entrez votre message ici..." [(ngModel)]="messageContent"> </textarea>

    <!-- Envoi d'émotes -->
    <mat-icon matSuffix (click)="onOpenEmojisList()" class="emoji-icon"> mood </mat-icon>
    <div *ngIf="showEmojisList$ | async" class="emoji-list">
        <emoji-mart (emojiClick)="onEmojiClick($event)" [exclude]="categoriesEmojisExcluded"> </emoji-mart>
    </div>

    <!-- Affichage de l'icone de selection d'images ou de suppression -->
    <ng-container matSuffix> 
        <!-- Affichage de l'icone de selection du message-->
        <ng-container *ngIf="!(imageToSend$ | async) && (!(editMessage$ | async)?.imageInChat || (deleteImageInModifiedPost$ | async)) ; else deleteImageIcon">
            <mat-icon (click)="fileInput.click()" class="image-icon">image</mat-icon>
            <input type="file" #fileInput accept=".jpg, .jpeg, .png" style="display: none;" (change)="onImageToSend($event)">
        </ng-container>

        <!-- Affichage de l'icône pour supprimer l'image du message -->
        <ng-template #deleteImageIcon>
            <mat-icon (click)="onRemoveImage()" class="image-icon" >delete</mat-icon>
        </ng-template>
    </ng-container>
    

    <!-- Bouton pour envoyer le message -->
    <mat-icon matSuffix class="send-message-icon" (click)="onSendMessage()"> send </mat-icon>
</mat-form-field>