<h1 class="title">
    Discussion avec {{otherUser.username}}
</h1>

<div class="discussion">

    <mat-card *ngFor="let post of chat" class="mat-card-post">
        <div class="avatar-username"> 
            <img [src]="getProfileImage(post)" (error)="setImageError(post)" alt="Avatar de {{post.username}}" class="avatar">
            <mat-card-header> {{post.username}} </mat-card-header>
        </div>
        
        <mat-card-content> {{post.content}} </mat-card-content>
          
    </mat-card>

    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
    Discussion à afficher <br>    Discussion à afficher <br>     Discussion à afficher <br>      Discussion à afficher <br>    Discussion à afficher <br>
   
    
</div>

<mat-form-field appearance="fill" class="send-message">
    <mat-label> Mon message </mat-label>
    <textarea matInput placeholder="Entrez votre message ici..." [(ngModel)]="messageContent"> </textarea>
    <mat-icon matSuffix class="send-message-icon" (click)="onSendMessage()"> send </mat-icon>
</mat-form-field>