<h1 class="title">
    Discussion avec {{otherUser.username}}
</h1>

<div class="discussion" #chatContainer>
    <!-- Affichage en cas de chargement -->
    <mat-spinner *ngIf="loading"> </mat-spinner>
    
    <!-- Affichage en cas chat vide  et pas de chargement -->
    <div *ngIf="chatIsEmpty && !loading" class="empty-chat">
        <p> Vous n'avez pas encore échangé de messages avec {{otherUser.username}}. </p>
    </div>

    <!-- Affichage en cas chat non vide, pas de chargement et, si on ne modifie pas un message-->
    <div *ngIf="!chatIsEmpty && !loading && editedPost=== null">
        <!-- Bouton pour charger plus de messages -->
        <mat-card-actions class="button-previous-post">
            <button mat-flat-button (click)="onLoadMoreMessages()" [disabled]="loading" > Charger les messages précédents </button>
        </mat-card-actions>

        <!-- Affichage des messages dans un chat à l'aide de mat-card -->
        <mat-card *ngFor="let post of chat" class="mat-card-post" [ngStyle]="{'background-color': getPostCardColor(post.currentUserId)}">
            <div class="avatar-username-menu"> 
                <div class="avatar-username">
                    <img [src]="getProfileImage(post)" (error)="setImageError(post)" alt="Avatar de {{post.username}}" class="avatar">
                    <mat-card-header> {{post.username}} </mat-card-header>
                </div>

                <!-- Menu déroulant pour modifier ou supprimer un message -->
                <mat-card-actions *ngIf="post.currentUserId === currentUser.id">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon> more_vert </mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onEditMessage(post)"> Modifier </button>
                        <button mat-menu-item (click)="onDeleteMessage(post)"> Supprimer </button>
                    </mat-menu>
                </mat-card-actions>
            </div>
            
            <mat-card-content> {{post.content}} </mat-card-content>
            <mat-card-footer class="timestamp"> {{post.timestamp | timeAgo }} </mat-card-footer>
            
            
        </mat-card>

        
    </div>

    <!-- Affichage en cas chat vide, pas de chargement et, si l'on modifie un message-->
    <div *ngIf="!loading && !chatIsEmpty && editedPost!== null">
        <p class="modify-post"> Vous modifiez le message suivant : </p>

        <!-- On affiche le post que l'on modifie -->
        <mat-card class="mat-card-post" [ngStyle]="{'background-color': getPostCardColor(editedPost.currentUserId)}">
            <div class="avatar-username-menu"> 
                <div class="avatar-username">
                    <img [src]="getProfileImage(editedPost)" (error)="setImageError(editedPost)" alt="Avatar de {{editedPost.username}}" class="avatar">
                    <mat-card-header> {{editedPost.username}} </mat-card-header>
                </div>

            </div>
            
            <mat-card-content> {{editedPost.content}} </mat-card-content>
            <mat-card-footer class="timestamp"> {{editedPost.timestamp | timeAgo }} </mat-card-footer>
            
            
        </mat-card>

        <!-- On affiche un bouton pour revenir en arrière -->
        <mat-card-actions class="button-previous-post">
            <button mat-flat-button (click)="onNotModify()" [disabled]="loading" > Revenir en arrière </button>
        </mat-card-actions>

    </div>

    
    
</div>

<mat-form-field appearance="fill" class="send-message">
    <mat-label> Mon message </mat-label>
    <textarea matInput placeholder="Entrez votre message ici..." [(ngModel)]="messageContent"> </textarea>

    <mat-icon matSuffix (click)="openEmojisList()"> mood </mat-icon>
    <div *ngIf="showEmojisList" class="emoji-list">
        <emoji-mart (emojiClick)="onEmojiClick($event)"> </emoji-mart>
    </div>

    <mat-icon matSuffix class="send-message-icon" (click)="onSendMessage()"> send </mat-icon>
</mat-form-field>