<h1 class="title">
    Mes messages privés
</h1>

<h2 class="subtitle"> 
    À qui souhaitez-vous envoyer un message ?
</h2>

<div>
    <mat-form-field appearance="fill" class="searchQuery">
        <input matInput [(ngModel)]="searchQuery" (input)="onInputChange()" placeholder="Rechercher des utilisateurs">
    </mat-form-field>

    
    <mat-card *ngFor = "let user of users" class="mat-card-users">
        <img [src]="getProfileImage(user)" (error)="setImageError(user)" alt="Avatar de {{user.username}}" class="avatar">
        <mat-card-header> {{user.username}} </mat-card-header>
        <button mat-flat-button class="button" (click)="onChat(user)"> Message </button>
        
        
    </mat-card>
    
    
    
</div>