// Style à appliquer sur le titre de la page
.title{
    color: white;
    text-align: center;
    font-size: 3vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: center; 
}









// Style à appliquer sur la question (sous-titre)
.subtitle{
    color: white;
    margin-left: 1%;
}










// Style à appliquer sur la barre de recherche
.searchQuery{
    margin-left: 1%;
    width: 40%
}














// Style à appliquer sur les avatars des photos
.avatar{
    width: auto;
    max-width: 7vh;
    max-height: 7vh;
}

// Style à appliquer sur les mat card des utilisateurs
.mat-card-users{
    width: 30%;
    margin-left: 1%;
    background-color: rgb(97, 18, 97);
    font-size: 150%;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 20% 55% 25%;
      
}

// Style à appliquer sur le bouton pour lancer le chat
.button{
    margin: auto;
}






