<h1 class="title">
    Mes messages privés
</h1>

<h2 class="white-color"> 
    À qui souhaitez-vous envoyer un message ?
</h2>

<div>
    <mat-form-field appearance="fill" class="searchQuery">
        <input matInput [(ngModel)]="searchQuery" (input)="onInputChange()" placeholder="Rechercher des utilisateurs">
    </mat-form-field>

    
    <mat-card *ngFor = "let user of users">
        <mat-card-header> {{user.username}} </mat-card-header>
        <img [src]="user.image" alt="rien" class="avatar">
        
        
    </mat-card>
    
    
    
</div>