.title{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
}

.white-color{
    color: white;
    margin-left: 1%;
}

.searchQuery{
    margin-left: 1%;
    width: 40%
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.mat-card-users{
    display: flex;
    flex-direction: row;

}