// Style à appliquer sur le titre de la page
.title{
    color: #7289da;
    display: flex;
    justify-content: center; 
    text-align: center;
    font-size: 3vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}









// Style à appliquer sur la question (sous-titre)
.subtitle{
    color: #7289da;
    text-align: center;
    margin-bottom: 2vh;
    font-size: 1.5vw;
}










// Style à appliquer sur la barre de recherche
.searchQuery{
    display: block;
    margin: 0 auto;
    width: 50%;
    min-width: 250px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1vw;
}














// Style à appliquer sur les avatars des photos
.avatar{
    width: auto;
    max-width: 7vh;
    max-height: 7vh;
}

// Style à appliquer sur les mat card des utilisateurs
.mat-card-users{
    width: 30%;
    margin-left: 1%;
    background-color: rgb(97, 18, 97);
    font-size: 150%;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: 20% 55% 25%;
      
}

// Style à appliquer sur le bouton pour lancer le chat
.button{
    margin: auto;
}






