// Style sur les textes importants
h1,h2{
    color: #7289da;
    display: flex;
    justify-content: center;
}

// Style pour les "sous-titres" de la page
.subtitle{

    // Texte en gras
    font-weight: bold; 
    font-size: 3vh; 
    margin-bottom: 1vh;
    margin-left: 1%;
}

// Style à appliquer au sous-titre de private-message
.private-message-subtitle{
    color: #2ECC71;
}

// Style à appliquer au sous-titre de private-message
.group-message-subtitle{
    color: #3498DB;
}

// Style pour la div private-message
.private-message-global-container{
    background-color: rgba(45, 184, 103, 0.3)
}

// Style pour la div private-message
.group-message-global-container{
    background-color: rgba(66, 135, 245, 0.3)
}

// Style pour la div de private-message et group-message (photo et texte)
.private-group-message-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vh;
}

// Style pour transformer la taille de l'image au passage de la souris.
.image-private-group-message-container:hover .image {
    transform: scale(1.15) translateX(-4vh);
}

// Style pour l'image de présentation d'un chat.
.image{
    border-radius: 3vh; 
    width: auto;
    max-width: 100vh;
    margin-left: 1%;
    // Animation lors du passage de la souris
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease;
}

// Style à appliquer sur l'image de private-message
.image-private-message{
    border: 3px solid #2ECC71;
}

// Style à appliquer sur l'image de group-message
.image-group-message{
    border: 3px solid #3498DB;
}

// Style pour les textes descriptifs des fonctionnalités
.content-container{
    font-size: 4.5vh;
}

// Style sur le texte de private-message
.content-container-private-message{
    color: #2ECC71;
}

// Style sur le texte de group-message
.content-container-group-message{
    color: #3498DB;
}


// Style à appliquer sur les paragraphes p dans le private-message-preview
.content-container p {
    max-width: 20ch;
    word-wrap: break-word;
}

// Style pour la zone de création de compte
.create-account-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgba(230, 126, 34, 0.3);
}

// Style à appliquer sur les paragraphes de create-account-container
.create-account-container p {
    color: #e67e22;
}

// Styles pour le bouton de création de groupe
.create-account-button[mat-flat-button]{
    background-color: #e67e22;
    color: white;
    font-size: 2.5vh;
    padding: 1vh 3vh;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
}

.create-account-button:hover {
    background-color: #d35400;
}

// Style à appliquer dès que la taille de l'écran est plus petite que 990px.
@media(max-width: 1200px) {
    // Taille du texte de private-message.
    .content-container{
        font-size : 2.5vh;
    }

    // Taille de l'image.
    .image{
        max-width: 70vh;
    }

    // Modification de la disposition des éléments pour un écran plus petit.
    .private-group-message-container {
        flex-direction: column;
        gap: 3vh;
    }

    // Modification de l'effet d'agrandissement de l'image
    .image-private-group-message-container:hover .image {
        transform: scale(1.05);
    }
}