<!-- Titre de la page -->
<h1 >
    Bienvenue sur Discord !
</h1>

<!-- Sous titre de la page -->
<h2> 
    Découvre notre chat en ligne pour échanger avec tes amis et même rejoindre des communautés mondiales ! 
</h2>

<!-- Contenu de la homepage ; pour le moment il n'y a que private-message-->
<div class="private-message-global-container">

    <!-- Titre de la section-->
    <p class="subtitle private-message-subtitle"> Discute avec tes amis !</p>

    <!-- Image et commentaire-->
    <div class="private-message-container">
        <div class="image-private-message-container">
            <img src="assets/presentation-chat.JPG" alt="presentation du chat" class="image-private-message">
        </div>

        <div class="private-message-text">
            <p>Échange avec tes amis, </p>
            <p> Partage tes passions, </p>
            <p>...et même des photos de tes chats préférés </p>
        </div>
    </div>

</div>

<!-- Section pour inviter l'utilisateur à créer son compte -->
<div class="create-account">
    <p class="subtitle" style="color: #e67e22;"> 🚀 Rejoins-nous dès maintenant 🚀 </p>
    <button mat-flat-button class="create-account-button" (click)="onCreateAccount()"> Créer un compte </button>
</div>