<h1>
    🎉 Bienvenue sur Discord !
</h1>

<h2>
    Découvre notre chat en ligne pour échanger avec tes amis et même rejoindre des communautés mondiales ! 🌍🚀
</h2>

<p class="subtitle"> Discute avec tes amis ! 💬 </p>

<div class="private-message-preview">
    <img src="assets/presentation-chat.JPG" alt="presentation du chat" class="presentation-chat">

    <div class="private-message-text">
        Échange avec tes amis, <br>
        Partage tes passions, <br>
        ...et même des photos de tes chats préférés 🐱 
    </div>
</div>

