<!-- Titre de la page -->
<h1 >
    Bienvenue sur Discord !
</h1>

<!-- Sous titre de la page -->
<h2> 
    Découvre notre chat en ligne pour échanger avec tes amis et même rejoindre des communautés mondiales ! 
</h2>

<!-- Description de la fonctionnalité "private-message" -->
<div class="private-message-global-container">

    <!-- Titre de la section-->
    <p class="subtitle private-message-subtitle"> Discute avec tes amis !</p>

    <!-- Image et commentaire-->
    <div class="private-group-message-container">
        <div class="image-private-group-message-container">
            <img src="assets/presentation-chat.JPG" alt="image d'illustration" class="image-private-group-message">
        </div>

        <div class="private-message-text">
            <p>Échange avec tes amis, </p>
            <p> Partage tes passions, </p>
            <p>...et même des photos de tes chats préférés </p>
        </div>
    </div>

</div>


<!-- Description de la fonctionnalité "group-message" -->
<div class="group-message-global-container">

    <!-- Titre de la section -->
    <p class="subtitle group-message-subtitle"> Crée un groupe de discussion !</p>

    <!-- Image et commentaire -->
    <div class="private-group-message-container">
        <div class="image-private-group-message-container">
            <img src="assets/example-group-message.JPG" alt="image d'illustration" class="image-private-group-message">
        </div>

        <div class="group-message-text">

        </div>
    </div>

</div>


<!-- Section pour inviter l'utilisateur à créer son compte -->
<div class="create-account-container">
    <p class="subtitle"> 🚀 Rejoins-nous dès maintenant 🚀 </p>
    <button mat-flat-button class="create-account-button" (click)="onCreateAccount()"> Créer un compte </button>
</div>