// Style sur les textes importants
h1,h2{
    color: white;
    display: flex;
    justify-content: center;
}

// Style pour les "sous-titres" de la page
.subtitle{
    // Texte en gras
    font-weight: bold; 
    font-size: 3vh; 
    margin-bottom: 1vh;
    margin-left: 1%;
}











// Style pour la div private-message
.private-message{
    background-color: rgba(45, 184, 103, 0.3)
}




// Style pour la div de private-message-preview (photo et texte)
.private-message-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vh;
}





// Style pour transformer la taille de l'image au passage de la souris.
.image-size:hover .private-message-picture {
    transform: scale(1.15) translateX(-4vh);
}


// Style pour l'image de présentation d'un chat.
.private-message-picture{
    border-radius: 3vh; 
    border: 3px solid #2ECC71;
    width: auto;
    max-width: 100vh;
    margin-left: 1%;
    // Animation lors du passage de la souris
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease;
}










//Style pour le texte sur la photo de private-message-preview
.private-message-text{
    color: #2ECC71;
    font-size: 4.5vh;
}

// Style à appliquer sur les paragraphes p dans le private-message-preview
.private-message-text p {
    max-width: 20ch;
    word-wrap: break-word;
}





















// Style pour la zone de création de compte
.create-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgba(230, 126, 34, 0.3);
}

// Styles pour le bouton de création de groupz
.create-account-button[mat-flat-button]{
    background-color: #e67e22;
    color: white;
    font-size: 2.5vh;
    padding: 1vh 3vh;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
}

.create-account-button:hover {
    background-color: #d35400;
}











// Style à appliquer dès que la taille de l'écran est plus petite que 990px
@media(max-width: 990px) {
    // Taille du texte de private-message
    .private-message-text{
        font-size : 2vh;
    }

    // Taille de l'image
    .private-message-picture{
        max-width: 70vh;
    }
}