<!-- On crée un objet de type toolbar (barre de navigation)-->
<mat-toolbar class="custom-toolbar">

    <span class="title">Discord</span>

    <button (click)="toggleMenu()" class="burger">
        <mat-icon>menu</mat-icon> 
    </button>

    <!-- On crée une liste contenant toutes les options de l'application-->
    <ul class="nav-links" [class.show]="(openMenu$ | async)">
      <li *ngFor="let link of navLinks">
        <a *ngIf="link.action === 'navigate'" 
           [routerLink]="link.route" 
           (click)="closeMenu()">{{ link.label }}</a>
    
        <a *ngIf="link.action === 'logout'" 
           (click)="onLogout(); closeMenu()">{{ link.label }}</a>
      </li>
    </ul>

</mat-toolbar>