// Style pour déplacer les choix de navigation à droite de la barre.
.custom-toolbar {
    background-color: #2c3e50; 
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vh;
}

// Style le titre "Discord" de la page
.title {
    font-weight: bold;
    font-size: 3vh;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 3vh;
    margin: 0;
    padding: 0;
}

.nav-links li a, .logout-button {
    color: white;
    text-decoration: none;
    font-size: 2.2vh;
    transition: color 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links li a:hover, .logout-button:hover {
    color: #ffd700; 
}