// Style pour déplacer les choix de navigation à droite de la barre.
.custom-toolbar {
    background-color: #2c3e50; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
    position: relative;
}







// Style le titre "Discord" de la page
.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 2vw;
    color: #7289da;
}







// Style sur la div entourant les parties de l'application
.nav-links {
    // Supprime les "ronds" devant les éléments
    list-style: none;
    display: flex;
    gap: 3vh;
}







// Style pour l'affichage des noms des parties
.nav-links li a, .logout-button {
    font-family: 'Poppins', sans-serif;
    color: #7289da;
    text-decoration: none;
    font-size: 1.2vw;
    transition: color 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

// Couleur au passage de la souris
.nav-links li a:hover, .logout-button:hover {
    color: #ffd700; 
}





// Style à appliquer sur le bouton burger
.burger{
    display: none;
    background: none;
    border: none;
    color: #7289da;
    cursor: pointer;
}





// On gère la taille de la police quand l'écran rétrécit
@media (max-width: 1400px) {
    // Style à appliquer sur les options de la barre de navigation
    .nav-links li a {
      font-size: 1.5vw;
    }
    
    // Style à appliquer sur le titre
    .title {
      font-size: 2.5vw;
    }
}


// Quand l'écran est très petit, on affiche un menu burger
@media (max-width: 750px) {

    // On affichige le bouton burger
    .burger{
        display: block;
    }

    // On cache les options de la barre de navigation
    .nav-links {
        display: none;
    }

    // Lorsque openMenu est vrai, on affiche la barre de navigation
    .nav-links.show {
        // Disposition des éléments
        display: flex;
        flex-direction: column;
        text-align: center;

        // Taille et fond des options
        width: 100%;
        background-color: #2c3e50;
        
        // Positionnement de chacune des options
        position: absolute;
        top: 100%; 
        left: 0;
        box-sizing: border-box; 

        // Priorité d'affichage sur le reste du component
        z-index: 10;        
    }

}