// Style pour déplacer les choix de navigation à droite de la barre.
.custom-toolbar {
    background-color: #2c3e50; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
}







// Style le titre "Discord" de la page
.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 3vh;
    color: #7289da;
}







// Style sur la div entourant les parties de l'application
.nav-links {
    // Supprime les "ronds" devant les éléments
    list-style: none;
    display: flex;
    gap: 3vh;
}







// Style pour l'affichage des noms des parties
.nav-links li a, .logout-button {
    font-family: 'Poppins', sans-serif;
    color: #7289da;
    text-decoration: none;
    font-size: 2.2vh;
    transition: color 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
}

// Couleur au passage de la souris
.nav-links li a:hover, .logout-button:hover {
    color: #ffd700; 
}



@media (max-width: 990px) {
    // Style à appliquer sur les options de la barre de navigation
    .nav-links li a {
      font-size: 1.5vw;
    }
    
    // Style à appliquer sur le titre
    .title {
      font-size: 2.5vw;
    }
}