// Style à appliquer sur le titre de la page
.title{
    color: #7289da;
    display: flex;
    justify-content: center; 
    text-align: center;
    font-size: 3vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}






// Style à appliquer sur la mat-card de recherche
.search-mat-card{

    // Mise en place des éléments
    display: flex;
    justify-content: center; 
    align-items: center; 

    // Taille de la mat-card
    width: 80vw;   

    // Marges, padding etc...
    padding: 2vh 2vw;
    margin: 0 auto; 
    border-radius: 1vw;            

    // Couleur de la mat-card
    background-color: rgb(74,35,90); 

    // Animation
    transition: transform 0.3s ease, box-shadow 0.3s ease;    
}

// Effet lumineux au passage de la souris sur la mat-card
.search-mat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 193, 227, 0.4);
}








// Style à appliquer sur la mat-card qui contient les options de recherhce
.search-container{
    display: flex;
    flex-direction: column;
}











// Style à appliquer sur les divisions des options de recherche pour afficher le nom à côté des possibilités
.display-search-item{
    display: grid;
    grid-template-columns: 20vw 40vw; 
    align-items: center;
}










// Style à appliquer sur le sous-titre
.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7289da;
    font-size: 1.4vw;
}














// Style à appliquer sur les données à remplir
.search-entry-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Style à appliquer sur la barre de recherche
.searchNameQuery{
    display: block;
    margin: 0 auto;
    width: 70%;
    min-width: 200px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1vw;
}