// Style à appliquer sur le titre de la page
.title{
    color: #7289da;
    display: flex;
    justify-content: center; 
    text-align: center;
    font-size: 3vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}








// Style à appliquer sur la mat-card qui contient les options de recherhce
.search-container{
    display: flex;
    flex-direction: column;
}











// Style à appliquer sur les divisions des options de recherche pour afficher le nom à côté des possibilités
.display-search-item{
    display: grid;
    grid-template-columns: 20vw 40vw; 
    align-items: center;
}




// Style à appliquer sur le sous-titre
.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7289da;
    font-size: 1.4vw;
}

// Style à appliquer sur les données à remplir
.search-entry-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

