// Style à appliquer sur le titre de la page
.title{
    color: #7289da;
    display: flex;
    justify-content: center; 
    text-align: center;
    font-size: 3vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}





// Style à appliquer sur la mat-card qui contient les options de recherhce
.search-container{
    display: flex;
    flex-direction: column;
}



// Style à appliquer sur les divisions des options de recherche pour afficher le nom à côté des possibilités
.display-search-item{
    display: grid;
    grid-template-columns: 15vw 40vw; 
    align-items: center;
    column-gap: 1vw;
    justify-items: center;
}




