<!-- Titre de la page-->
<h1 class="title">
    Rejoindre un groupe
</h1>

<!-- Mat-card contenant le formulaire de recherche -->
<mat-card class="search-mat-card">

    <!-- Cette div contient les options de recherche -->
    <div class="search-container" [formGroup]="searchGroupForm">

        <!-- Barre de recherche pour le nom du groupe -->
        <div class="display-search-item">
    
            <p class="subtitle"> Nom du groupe : </p>

            <div class="search-entry-container">
                <mat-form-field appearance="fill" class="searchNameQuery">
                    <mat-label>Nom du groupe</mat-label>
                    <input matInput placeholder="Entrez un nom de groupe" formControlName="groupName">
                </mat-form-field>
            </div>

        </div>


        <!-- Recherche du type de groupe -->
        <div class="display-search-item"> 

            <p class="subtitle"> Type de groupe : </p>

            <div class="search-entry-container">
                <mat-form-field class="searchNameQuery"> 
                    <mat-label> Type de groupe </mat-label>
                    <mat-select formControlName="groupType">
                        <mat-option value="Tout">Tout</mat-option>
                        <mat-option value="Public">Public</mat-option>
                        <mat-option value="Restreint">Restreint</mat-option>
                        <mat-option value="Privé">Privé</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <!-- Langue du groupe -->
        <div class="display-search-item"> 

            <p class="subtitle"> Langue du groupe : </p>
            <div class="search-entry-container">
                <mat-checkbox *ngFor="let language of availableLanguages" (click)="onHandleLanguages(language)" [checked]="isLanguageSelected(language)"> {{language}} </mat-checkbox>
            </div>

        </div>

        <!-- Catégories du groupe -->
        <div class="display-search-item">

            <p class="subtitle"> Catégories du groupe : </p>

            <div class="search-entry-container">
                <mat-chip-set>
                    <mat-chip *ngFor="let category of chipsCategories" (click)="onHandleCategories(category)" [ngStyle]="{'background-color': isCategorySelected(category) ? 'green' : 'transparent'}"> {{category}} </mat-chip>
                </mat-chip-set>
            </div>

        </div>
    
        <!-- Bouton d'envoi-->
        <mat-card-actions class="save-button-container">
            <button mat-flat-button type="submit" (click)="onSubmit()" class="save-button"> Enregistrer </button>
        </mat-card-actions>


    </div>

</mat-card>