<!-- Titre de la page-->
<h1 class="title">
    Rejoindre un groupe
</h1>

<!-- Cette div contient les options de recherche -->
<div>
    <!-- Barre de recherche pour le nom du groupe -->
    <mat-form-field appearance="fill" class="searchNameQuery">
        <mat-label>Nom du groupe</mat-label>
        <input matInput placeholder="Entrez un nom de groupe">
    </mat-form-field>

    <mat-card-subtitle class="subtitle-name"> Type de groupe : </mat-card-subtitle>
    <mat-form-field> 
        <mat-label> Type de groupe </mat-label>
        <mat-select>
            <mat-option value="Public">Public</mat-option>
            <mat-option value="Restreint">Restreint</mat-option>
            <mat-option value="Privé">Privé</mat-option>
        </mat-select>
    </mat-form-field>

</div>
