// Style à appliquer sur le titre de la page
.title{
    color: #7289da;
    display: flex;
    justify-content: center; 
    text-align: center;
    font-size: 3vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}







// Style à appliquer sur la barre de recherche
.searchQuery{
    display: block;
    margin: 0 auto;
    width: 50%;
    min-width: 250px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 1vw;
}