<!-- Titre de la page-->
<h1 class="title">
    Rejoindre un groupe
</h1>

<!-- Cette div contient les options de recherche -->
<div class="search-container">

    <!-- Barre de recherche pour le nom du groupe -->
    <div class="display-search-item">
 
        <p class="subtitle"> Nom du groupe : </p>
        <mat-form-field appearance="fill" class="searchNameQuery">
            <mat-label>Nom du groupe</mat-label>
            <input matInput placeholder="Entrez un nom de groupe">
        </mat-form-field>

    </div>


    <!-- Recherche du type de groupe -->
    <div class="display-search-item"> 

        <p class="subtitle"> Type de groupe : </p>
        <mat-form-field> 
            <mat-label> Type de groupe </mat-label>
            <mat-select>
                <mat-option value="Public">Public</mat-option>
                <mat-option value="Restreint">Restreint</mat-option>
                <mat-option value="Privé">Privé</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <!-- Langue du groupe -->
    <div class="display-search-item"> 

        <p class="subtitle"> Langue du groupe : </p>
        <div>
            <mat-checkbox *ngFor="let language of ['test1', 'test2']" > {{language}} </mat-checkbox>
        </div>

    </div>

    <!-- Catégories du groupe -->
    <div class="display-search-item">

        <p class="subtitle"> Catégories du groupe : </p>
        <mat-chip-set>
            <mat-chip *ngFor="let category of ['test', 'test2']" > {{category}} </mat-chip>
        </mat-chip-set>

    </div>


</div>
