.profile-title{
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
}



.display-row{
    display: grid;
    grid-template-columns: 20% 15% 20% 15%;
    gap: 1%;
    margin-left: 1%;
}

.white-color{
    color: white;
}