// Style pour le titre de la page et l'icone de suppression
.profile-title{
    color: #7289da;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}


// Style à appliquer sur le logo du menu burger
.burger{
    margin-left: 1vw;
}

// Style pour gérer la couleur du menu burger (le ::ng-deep permet à Angular d'aller dans un style encapsuler)
::ng-deep .menu-burger-icon {
    color: #ffc1e3;
}








//  Style pour placer les différents attributs du profil
.display-row{
    display: grid;
    grid-template-columns: 20% 15% 20% 15%;
    gap: 1%;
    margin-left: 1%;
}

// Style pour mettre du texte en bleu
.text-color{
    color: #7289da;
}

// Style à appliquer aux attributs du profil.
.attribute-color{
    color: 	#ffc1e3
}















// Style pour centrer les boutons.
.center{
    margin-top: 1%;
    display: grid;
    justify-content: center;
}