<!-- Titre de la page-->
<h1 class="profile-title">
    Mon profil

    <!-- Menu burger -->
    <button mat-icon-button [matMenuTriggerFor]="burgerMenu" class="burger">
        <mat-icon class="menu-burger-icon">menu</mat-icon>
    </button>
</h1>

<!-- Options du menu burger-->
<mat-menu #burgerMenu="matMenu" class="mat-menu-burger">

    <!-- Option 1 : Modifier mon profil-->
    <button mat-menu-item (click)="onModifyProfile()">
        <mat-icon>edit</mat-icon>
        <span>Modifier mes informations </span>
    </button>

    <!-- Option 2 : Modifier le mot de passe -->
    <button mat-menu-item (click)="onModifyPassword()">
        <mat-icon>lock</mat-icon>
        <span>Modifier mon mot de passe</span>
    </button>

    <!-- Option 3 : Supprimer le compte-->
    <button mat-menu-item (click)="onDeleteAccount()">
        <mat-icon>delete</mat-icon>
        <span>Supprimer le compte</span>
    </button>
</mat-menu>



<!-- Affichage des éléments du profil-->
<div class="display-row">   
    <h2 class="attribute-color">
        Prénom
    </h2>

    <h2 class="text-color">
        {{this.firstName}}
    </h2>
    
    <h2 class="attribute-color">
        Nom
    </h2>

    <h2 class="text-color">
        {{this.lastName}}
    </h2>


    <h2 class="attribute-color">
        Username
    </h2>

    <h2 class="text-color">
        {{this.username}}
    </h2>

    <h2 class="attribute-color">
        Mot de passe
    </h2>

    <h2 class="text-color">
        *******
    </h2>


    <h2 class="attribute-color">
        Email
    </h2>

    <h2 class="text-color">
        {{this.email | shorten : 20}}
    </h2>

    <h2 class="attribute-color">
        Image de profil
    </h2>

    <h2 class="text-color">
        {{this.imageUrl | shorten : 20}}
    </h2>
    
</div>
