<h1 class="profile-title">
    Mon profil
    <mat-icon class="delete-profile"> delete </mat-icon>
</h1>

<div class="display-row">   
    <h2>
        Prénom
    </h2>

    <h2 class="white-color">
        {{this.firstName}}
    </h2>
    
    <h2 >
        Nom
    </h2>

    <h2 class="white-color">
        {{this.lastName}}
    </h2>


    <h2 >
        Username
    </h2>

    <h2 class="white-color">
        {{this.username}}
    </h2>

    <h2 >
        Mot de passe
    </h2>

    <h2 class="white-color">
        *******
    </h2>


    <h2 >
        Email
    </h2>

    <h2 class="white-color">
        {{this.email | shorten : 20}}
    </h2>

    <h2 >
        Image de profil
    </h2>

    <h2 class="white-color">
        {{this.imageUrl | shorten : 20}}
    </h2>
    
</div>

<mat-card-actions class="center">
    <button mat-flat-button (click)="onModifyProfile()"> Modifier mon profil </button>
</mat-card-actions>

<mat-card-actions class="center">
    <button mat-flat-button (click)="onModifyPassword()"> Modifier mon mot de passe </button>
</mat-card-actions>
