<h1 class="profile-title">
    Mon profil
</h1>

<div class="display-row">   
    <h2>
        Prénom
    </h2>

    <h2 class="white-color">
        {{this.firstName}}
    </h2>
    
    <h2 >
        Nom
    </h2>

    <h2 class="white-color">
        {{this.lastName}}
    </h2>


    <h2 >
        Username
    </h2>

    <h2 class="white-color">
        {{this.username}}
    </h2>

    <h2 >
        Mot de passe
    </h2>

    <h2 class="white-color">
        *******
    </h2>


    <h2 >
        Email
    </h2>

    <h2 class="white-color">
        {{this.email}}
    </h2>

    <h2 >
        Image de profil
    </h2>

    <h2 class="white-color">
        {{this.imageUrl}}
    </h2>
    
</div>

<mat-card-actions class="center">
    <button mat-flat-button (click)="onModify()"> Modifier mon profil (en cours) </button>
</mat-card-actions>

