// Style pour le titre de la page et l'icone de suppression
.profile-title{
    color: #7289da;
    font-size: 2.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

// Style à appliquer sur le logo du menu burger
.burger {
    position: absolute; 
    right: 1vw; 
}

// Style pour gérer la couleur du menu burger (le ::ng-deep permet à Angular d'aller dans un style encapsuler)
::ng-deep .menu-burger-icon {
    color: #ffc1e3;
}

// Style pour modifier les icones dans le menu burger  
::ng-deep .mat-menu-burger .mat-icon {
    color: #ffc1e3 !important;
}
 
// Style à appliquer sur les textes dans le menu burger
::ng-deep .mat-menu-burger span{
    color: #ffc1e3 ;
}










// Style sur la div encapsulant la mat-card principale
.profile-container-wrapper{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}















// Style sur la mat-card permettant d'afficher les éléments en deux parties : gauche et droite
.profile-container{
    
    // Disposition des éléments
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // Marges, effet sur les bords de la carte
    margin-top: 3vh;
    margin-left: 2vw;
    border-radius: 10%; 
    box-shadow: 0 4vh 8vw rgba(0, 0, 0, 0.1);
    padding: 2rem; 

    // Couleur de la carte
    background: linear-gradient(
        90deg,
        rgba(74, 35, 90, 0.9) 50%, 
        rgba(114, 137, 218, 0.9) 100% 
    );

    // Taille de la carte
    width: 60vw;
    height: 70vh;

    // Effets d'animations
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

// Effet lumineux et leger mouvement de la amt-card au survol.
.profile-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(255, 193, 227, 0.4);
}









// Style à appliquer sur l'username
.username-style{
    font-size: 3vw ;
}

// Style pour mettre du texte en bleu
.text-color{
    color: #7289da;
}

// Style à appliquer aux attributs du profil.
.attribute-color{
    color: 	#ffc1e3;
}

// Ajout du style pour "faire respirer les champs de texte"
// Définit l'animation : alternance entre petit et grand halo
@keyframes pulseGlow {
    0% {
        // Petit halo
        text-shadow: 0 0 5px rgba(255, 193, 227, 0.6);
    }
    50% {
        // Grand halo
        text-shadow: 0 0 15px rgba(255, 193, 227, 1);
    }
    100% {
        // Petit halo
        text-shadow: 0 0 5px rgba(255, 193, 227, 0.6);
    }
}

// On applique l'animation sur les champs de texte
.profile-card-right h2:hover,
.profile-card-left h2:hover {
    color: #fff;
    animation: pulseGlow 2s infinite ease-in-out;
    transition: color 0.3s ease;
}

















// Style sur la div de gauche contenat l'image et l'username
.profile-card-left{

    // Disposition des éléments
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    // Taille de la mat-card
    width: 100%;
    height: 90%;

    // Marges, padding etc..
    gap: 3vh;
    padding: 1rem;

    // Couleur des textes et du fond
    color: #ffc1e3;
    background: linear-gradient(
        135deg, 
        rgba(50, 25, 70, 0.8),  /* Violet plus foncé */
        rgba(60, 80, 120, 0.8),  /* Bleu foncé */
        rgba(20, 30, 50, 0.8)    /* Bleu nuit foncé */
    );
    background-size: 400% 400%;
    animation: moveBackground 5s ease infinite;
}

@keyframes moveBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

// Style sur l'image de profil.
.profile-image{
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 193, 227, 0.4);
}


// Style à appliquer sur la div contenant les éléments de la partie droite.
.profile-card-right{
    width: 100%;
    height: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}










@media (max-width: 1000px) {

    // On fait descendre le container de la mat-card global
    .profile-container-wrapper{
        margin-top: 15vh;
    }

    // On affiche les éléments en colonne ; on ajuste la taille du container
    .profile-container {
        flex-direction: column; 
        width: 90vw;
        height: auto;
        padding: 1rem;
    }

    // On ajuste la taille des deux divs contenus dans la mat-card principale
    .profile-card-left,
    .profile-card-right {
        width: 100%; 
        height: auto; 
        margin-bottom: 2vh;
        border-radius: 20%;
    }

    // On diminue la taille de l'image
    .profile-image {
        width: 60%;
    }
}