// Style pour le titre de la page et l'icone de suppression
.profile-title{
    color: #7289da;
    font-size: 2.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

// Style à appliquer sur le logo du menu burger
.burger {
    position: absolute; 
    right: 1vw; 
}

// Style pour gérer la couleur du menu burger (le ::ng-deep permet à Angular d'aller dans un style encapsuler)
::ng-deep .menu-burger-icon {
    color: #ffc1e3;
}

// Style pour modifier les icones dans le menu burger  
::ng-deep .mat-menu-burger .mat-icon {
    color: #ffc1e3 !important;
}
 
// Style à appliquer sur les textes dans le menu burger
::ng-deep .mat-menu-burger span{
    color: #ffc1e3 ;
}










// Style sur la div encapsulant la mat-card principale
.profile-container-wrapper{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}















// Style sur la mat-card permettant d'afficher les éléments en deux parties : gauche et droite
.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 3vh;
    margin-left: 2vw;
    border-radius: 10%; 
    background-color: rgb(74,35,90); 
    box-shadow: 0 4vh 8vw rgba(0, 0, 0, 0.1);
    padding: 2rem; 
    width: 60vw;
    height: 70vh;
}




// Style pour mettre du texte en bleu
.text-color{
    color: #7289da;
}

// Style à appliquer aux attributs du profil.
.attribute-color{
    color: 	#ffc1e3
}











// Style sur la div de gauche contenat l'image et l'username
.profile-card-left{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    gap: 3vh;
    padding: 1rem;
    color: #ffc1e3;
    background-color: rgba(30, 60, 100, 0.5);
}

// Style sur l'image de profil.
.profile-image{
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 193, 227, 0.4);
}


// Style à appliquer sur la div contenant les éléments de la partie droite.
.profile-card-right{
    width: 100%;
    height: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}










