<!-- Titre de la page-->
<h1 class="title">
    Mes groupes
</h1>

<!-- On récupère les groupes dans l'Observable. On les "renomme" groups -->
<div *ngIf="groups$ | async as groups"> 

    <!-- S'il y a au moins un groupe, on affiche cette div. Sinon, on affiche le message dans le ng-template ci-dessous -->
    <div *ngIf="groups.length > 0; else noGroup"> 

        <!-- Pour chaque groupe, on affiche sa mat-card-->
        <div *ngFor="let group of groups">


            <mat-card class="group-mat-card">
                <img [src]="group.groupLogoPath" alt="Logo du groupe">
                <p>{{ group.groupName }}</p>
                <p> {{ group.groupType }} </p>
            </mat-card>


        </div>
    </div>

    <!-- S'il n'y a pas de groupes, on affiche cette div-->
    <ng-template #noGroup>
        <p class="no-group">Aucun groupe trouvé.</p>
    </ng-template>


</div> 

