// Style pour le titre de la page
.title{
    color: #7289da;
    text-align: center;
    font-size: 2.5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center; 
}