<!-- Titre de la page-->
<h1 class="title">
    Mes groupes
</h1>

<!-- On récupère les groupes dans l'Observable. On les "renomme" groups -->
<div *ngIf="groups$ | async as groups"> 

    <!-- S'il y a au moins un groupe, on affiche cette div. Sinon, on affiche le message dans le ng-template ci-dessous -->
    <div *ngIf="groups.length > 0; else noGroup"> 

        <!-- Pour chaque groupe, on affiche sa mat-card-->
        <div *ngFor="let group of groups">

            <!-- Mat card pour afficher chaque groupe -->
            <mat-card class="group-mat-card appear-animation">

                <!-- Logo du groupe-->
                <img [src]="group.groupLogoPath" alt="Logo du groupe" class="group-logo">

                <!-- Nom du groupe -->
                <p class="group-name">{{ group.groupName }}</p>

                <!-- Type de groupe -->
                <mat-icon *ngIf="group.groupType === 'Public'" class="group-type-icon">public</mat-icon>
                <mat-icon *ngIf="group.groupType === 'Privé'" class="group-type-icon">lock</mat-icon>
                <mat-icon *ngIf="group.groupType === 'Restreint'" class="group-type-icon">vpn_key</mat-icon>

                <!-- Bouton pour rejoindre la discussion -->
                <mat-card-actions>
                    <button mat-flat-button class="button-chat" (click)="onChat()"> Message </button>
                </mat-card-actions>

                <!-- Onglet déroulant pour afficher les informations supplémentaires -->
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Informations supplémentaires</mat-panel-title>
                    </mat-expansion-panel-header>

                    <p><strong>Description :</strong> {{ group.groupDescription }}</p>
                    <p><strong>Langues :</strong> {{ group.groupLanguages.join(', ') }}</p>
                    <p><strong>Catégories :</strong> {{ group.groupCategories.join(', ') }}</p>
                    <p><strong>Créateur :</strong> {{ group.creator }}</p>
                    

                    <pre>{{ group.members | json }}</pre>

                </mat-expansion-panel>

            </mat-card>


        </div>
    </div>

    <!-- S'il n'y a pas de groupes, on affiche cette div-->
    <ng-template #noGroup>
        <p class="no-group">Aucun groupe trouvé.</p>
    </ng-template>


</div> 

