<mat-card [formGroup]="registerForm">
    <!-- Titre de la page -->
    <mat-card-title class="form-title">
        Création d'un groupe de discussion
    </mat-card-title>


    <!-- Nom du groupe -->
    <mat-card-subtitle class="subtitle-name"> Nom du groupe </mat-card-subtitle>
    <mat-form-field>
        <mat-label> Nom du groupe </mat-label>
        <input type="text" matInput formControlName="groupName">
    </mat-form-field>
    <mat-error> Ce champ est requis </mat-error>

    <!-- Description du groupe -->
    <mat-card-subtitle class="subtitle-name"> Description du groupe </mat-card-subtitle>
    <mat-form-field class="mat-form-field-text-area">
        <mat-label> Description </mat-label>
        <textarea matInput placeholder="Entrez votre description..." formControlName="groupDescription"></textarea>
    </mat-form-field>
    <mat-error> Ce champ est requis </mat-error>

    <!-- Logo du groupe -->
    <mat-card-subtitle class="subtitle-name"> Logo du groupe </mat-card-subtitle>
    <ng-container>
        <ng-container *ngIf="!(logoToSend$ | async) ; else deleteLogo">
            <button mat-flat-button (click)="fileInput.click()"> Choisissez une image pour votre groupe </button>
            <input #fileInput type="file" accept=".jpg, .jpeg, .png" style="display: none;" (change)="onLogoToSend($event)">
        </ng-container>

        <ng-template #deleteLogo>
            <!-- Apercu de l'image que l'on souhaite envoyer. -->
            <mat-card *ngIf="(logoToSendUrl$ |async)" class="mat-card-image-preview">
                <mat-card-content> Prévisualisation du logo : </mat-card-content>
                <img [src]="(logoToSendUrl$ |async)" alt="Aperçu de l'image" class="image-preview">
                <mat-icon class="deleteLogo" (click)="onRemoveLogo()"> delete </mat-icon>
            </mat-card>
        </ng-template>
    </ng-container>


    <!-- Type de groupe -->        
    <mat-card-subtitle class="subtitle-name"> Type de groupe </mat-card-subtitle>
    <mat-form-field> 
        <mat-label> Type de groupe </mat-label>
        <mat-select formControlName="groupType">
            <mat-option value="Public">Public</mat-option>
            <mat-option value="Restreint">Restreint</mat-option>
            <mat-option value="Privé">Privé</mat-option>
        </mat-select>
        <mat-error> Ce champ est requis </mat-error>
    </mat-form-field>


    <!-- Langue du groupe -->
    <section class="margin-bottom"> 
        <mat-card-subtitle class="subtitle-name"> Langue du groupe </mat-card-subtitle>
        <mat-checkbox class="margin-left" *ngFor="let language of availableLanguages" (click)="onHandleLanguages(language)"> {{language}} </mat-checkbox>
        <mat-error *ngIf="groupLanguages.hasError('arrayEmpty') && groupLanguages.touched" class="margin-left">
            Veuillez sélectionner au moins une langue.
        </mat-error>
    </section>

    
    <!-- Catégories du groupe -->
    <mat-card-subtitle class="subtitle-name margin-bottom" > Catégories du groupe </mat-card-subtitle>
    <div class="margin-left-chip">
        <mat-chip-set>
            <mat-chip *ngFor="let category of chipsCategories" (click)="onHandleCategories(category)" [ngStyle]="{'background-color': isCategorySelected(category) ? 'green' : 'transparent'}"> {{category}} </mat-chip>
        </mat-chip-set>
        <mat-error *ngIf="groupCategories.hasError('arrayEmpty') && groupCategories.touched">
            Veuillez sélectionner au moins une catégorie.
        </mat-error>
    </div>


    <!-- Bouton d'envoi-->
    <mat-card-actions class="margin-top">
        <button mat-flat-button type="submit" (click)="onSubmit()"> Enregistrer </button>
    </mat-card-actions>


</mat-card>
 