// Couleur de la mat-card du formulaire
mat-form-field, mat-card{
    background-color: rgb(74,35,90);
}

// Style pour gérer la taille et la position des mat-form-field
mat-form-field{
    width: 40%;
    margin-left: 1%;
}

// Style pour la taille des boutons
button{
    width : 20%;
    margin-left: 1%;
    margin-bottom: 2vh;
}

// Gestion de la taille des mat-from-field contenant un text-area.
.mat-form-field-text-area{
    width: 80%
}

// Style pour gérer les positions des noms des champs à remplir
.subtitle-name{
    margin-left: 1%;
}

// Style pour le titre de la page
.form-title{
    color: white;
    text-align: center;
    font-size: 6vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

// Style pour décaler la première case à cocher
.margin-left{
    margin-left: 0.5%;
}

// Style pour décaler la première catégorie
.margin-left-chip{
    margin-left: 1%;
}

// Style pour ajouter une marge en dessous d'un élément
.margin-bottom{
    margin-bottom: 0.5%;
}

