// Couleur de la mat-card du formulaire
mat-form-field, mat-card{
    background-color: rgb(74,35,90);
}

// Style pour le titre de la page
.form-title{
    color: white;
    text-align: center;
    font-size: 6vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
}