<mat-card [formGroup]="registerForm">
    <!-- Titre de la page -->
    <mat-card-title class="form-title">
        Création d'un groupe de discussion
    </mat-card-title>


    <!-- Nom du groupe -->
    <mat-card-subtitle class="subtitle-name"> Nom du groupe </mat-card-subtitle>
    <mat-form-field>
        <mat-label> Nom du groupe </mat-label>
        <input type="text" matInput formControlName="groupName">
    </mat-form-field>


    <!-- Description du groupe -->
    <mat-card-subtitle class="subtitle-name"> Description du groupe </mat-card-subtitle>
    <mat-form-field class="mat-form-field-text-area">
        <mat-label> Description </mat-label>
        <textarea matInput placeholder="Entrez votre description..." formControlName="groupDescription"></textarea>
    </mat-form-field>


    <!-- Logo du groupe -->
    <mat-card-subtitle class="subtitle-name"> Logo du groupe </mat-card-subtitle>
    <button mat-flat-button (click)="fileInput.click()"> Choisissez une image pour votre groupe </button>
    <input #fileInput type="file" accept=".jpg, .jpeg, .png" style="display: none;">


    <!-- Type de groupe -->        
    <mat-card-subtitle class="subtitle-name"> Type de groupe </mat-card-subtitle>
    <mat-form-field> 
        <mat-label> Type de groupe </mat-label>
        <mat-select formControlName="groupType">
            <mat-option value="Public">Public</mat-option>
            <mat-option value="Restreint">Restreint</mat-option>
            <mat-option value="Privé">Privé</mat-option>
        </mat-select>
    </mat-form-field>


    <!-- Langue du groupe -->
    <section class="margin-bottom"> 
        <mat-card-subtitle class="subtitle-name"> Langue du groupe </mat-card-subtitle>
        <mat-checkbox class="margin-left"> Français </mat-checkbox>
        <mat-checkbox> Anglais </mat-checkbox>
        <mat-checkbox> Espagnol </mat-checkbox>
        <mat-checkbox> Allemand </mat-checkbox>
    </section>

    
    <!-- Catégories du groupe -->
    <mat-card-subtitle class="subtitle-name margin-bottom" > Catégories du groupe </mat-card-subtitle>
    <div class="margin-left-chip">
        <mat-chip-set>
            <mat-chip *ngFor="let category of chipsCategories" (click)="onHandleCategories(category)" [ngClass]="{'chip-selected': isCategorySelected(category)}"> {{category}} </mat-chip>
        </mat-chip-set>
    </div>


    <!-- Bouton d'envoi-->
    <mat-card-actions class="margin-top">
        <button mat-flat-button> Enregistrer </button>
    </mat-card-actions>


</mat-card>
 