<h1 class="title" [class.editing]="editMessage$ | async">
    <img [src]="groupLogo" alt="Logo du groupe" class="group-logo">
    {{ groupName}}
</h1>

<div class="discussion" #chatContainer>
    <!-- Affichage en cas de chargement -->
    <mat-spinner *ngIf="(loading$ | async)"> </mat-spinner>
    
    <!-- Affichage en cas chat vide  et pas de chargement -->
    <div *ngIf="(isChatEmpty$ | async) && !(loading$ | async)" class="empty-chat">
        <p> Ce groupe ne contient pas encore de messages </p>
    </div>

    <!-- Affichage en cas chat non vide, pas de chargement et, si on ne modifie pas un message-->
    <div *ngIf="!(isChatEmpty$ | async) && !(loading$ | async) && (editMessage$ | async) === null">
        <!-- Bouton pour charger plus de messages -->
        <mat-card-actions class="button-previous-post-container">
            <button mat-flat-button (click)="onLoadMoreMessages()" [disabled]="(loading$ | async)" class="button-previous-post"> Charger les messages précédents </button>
        </mat-card-actions>

        <div class="mat-card-post-container">
            <!-- Affichage des messages dans un chat à l'aide de mat-card -->
            <mat-card *ngFor="let post of (chat$ | async)" class="mat-card-post" [ngStyle]="{'background-color': getPostCardColor(post.senderId)}">
                <div class="avatar-username-menu"> 
                    <div class="avatar-username">
                        <img [src]="getProfileImage(post)" (error)="setImageError(post)" alt="Avatar de {{post.senderUsername}}" class="avatar">
                        <mat-card-header> {{post.senderUsername}} </mat-card-header>
                    </div>

                    <!-- Menu déroulant pour modifier ou supprimer un message -->
                    <mat-card-actions *ngIf="post.senderId === currentUser.id">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="burger-icon"> more_vert </mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onEditMessage(post)"> Modifier </button>
                            <button mat-menu-item (click)="onDeleteMessage(post)"> Supprimer </button>
                        </mat-menu>
                    </mat-card-actions>
                </div>

                <!-- Affichage du message -->
                <mat-card-content> {{post.content}} </mat-card-content>

                <!-- Affichage de l'image -->
                <div class="post-image-container">
                    <img *ngIf="post.imageInChat" [src]="post.imageInChat" alt="image du post" class="post-image">
                </div>

                <!-- Affichage de la date du message -->            
                <mat-card-footer class="timestamp"> {{post.timestamp | timeAgo }} </mat-card-footer>
                
                
            </mat-card>
        </div>
    </div>


</div>