// Gérer la taille du document
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

// Styles pour le titre de la page
.title{
    color: #7289da;
    text-align: center;
    font-size: 3vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: flex;
    justify-content: center; 
}

// Style à appliquer sur le logo du groupe
.group-logo{
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 193, 227, 0.4);
    margin-right: 1vw;
}