@use '@ctrl/ngx-emoji-mart/picker';

html, body { height: 100%; }


body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('../public/assets/violet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


a:hover{
    text-decoration: underline;
}

a{
    color: blueviolet;
}

