// On charge les styles pour les émojis
@use '@ctrl/ngx-emoji-mart/picker';

// On gère la taille du body
html, body { height: 100%; }

// Style du body : image de fond, police
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('../public/assets/violet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

// On souligne tous les liens a au survol
a:hover{
    text-decoration: underline;
}

// Tous les liens sont en violet
a{
    color: blueviolet;
}



// Gestion de la taille de la scroolbar
::-webkit-scrollbar {
    width: 8px;
}
  
// Gestion de la couleur de la scroolbar
::-webkit-scrollbar-thumb {
    background: #809fff;
    border-radius: 10px;
    transition: background 0.3s ease;
}

// Gestion du survol de la scroolbar
::-webkit-scrollbar-thumb:hover {
    background: #a3b5f7;
}