// Style pour afficher le texte en bleu
.blue-text{
    color: #7289da;
}

// Style pour modifier la police du texte
.police{
    font-family: 'Poppins', sans-serif;
}

// Style pour ajouter une marge au-dessus
.margin-top{
    margin-top: 1vh;
}




// Style pour le container de la page
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    height: calc(100vh - 15vh)
}











// Style pour la div appliquée sur le login form.
.login-form-div{
    width: 100%;
    max-width: 80vh;
}


// Style pour l'apparence de la mat-card
.login-form{
    background-color: rgb(74,35,90);
    padding: 4vh 4vw;
    border-radius: 2vh;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
    width: 80vh;
    max-width: 80vh;
    margin: 10vh auto;
 
}



// Style pour l'image de login
.login-picture{
    max-width: 50vh;
    max-height: 50vh;
    margin-left: 10vh;
}











// Style lorsque le bouton est désactivé
button[mat-flat-button][disabled] {
    background-color: rgba(114, 137, 218, 0.3) !important;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

// Style lorsque le bouton est activé
button[mat-flat-button] {
    // Taille du bouton
    width : 100%;

    // Marges, padding, etc...
    border-radius: 20px;
    padding: 0.8rem 1.5rem; 
    font-size: 0.8vw; 

    // Couleur du bouton et des textes 
    background-color: #7289da !important;
    color: white !important;

    // Animation
    transition: background-color 0.3s ease, transform 0.3s ease;
}

// Style au passage de la souris sur le bouton activé
button[mat-flat-button]:hover {
    background-color: #5b6eae;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}











// Style à appliquer pour les écrans plus petits
@media (max-width: 1300px) {
    // On modifie l'affichage des éléments (affichage en colonne et plus en ligne)
    .login-container {
        flex-direction: column;
        gap: 0vh;
    }

    // On retire la marge à gauche ; On gère la marge en hauteur
    .login-picture{
        margin-left: 0vh;    
        margin-top: -5vh;
    }

    // On gère la taille du formulaire
    .login-form{
        width: 50vh
    }




}