// Style pour afficher le texte en bleu
.blue-text{
    color: #7289da;

}

// Style pour l'apparence de la mat-card
.login-form{
    background-color: rgb(74,35,90);
    padding: 4vh 4vw;
    border-radius: 2vh;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
    width: 80vh;
    max-width: 80vh;
    margin: 10vh auto;
}